## Libs

In [2]:
import pandas as pd
import random
import warnings

warnings.filterwarnings('ignore')

## Dados

In [3]:
df = pd.read_csv("docs/supermarket_v2.csv")
df = df[[column for column in df.columns if "nnamed" not in column]]
df.head(7)

,invoice id,branch,city,customer type,gender,product line,unit price,quantity,tax 5%,total,date,time,payment,cogs,gross margin percentage,gross income,rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,18:30,Ewallet,597.73,4.761905,29.8865,4.1
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2/25/2019,14:36,Ewallet,413.04,4.761905,20.6520,5.8

In [4]:
hb = df.loc[df["product line"]=="Health and beauty"].copy()
hb["total"].sum()

np.float64(24748.815000000002)

In [5]:
dict_df = {}
i = 0
for pl in df["product line"].unique():
    df_local = df.loc[df["product line"]==pl].copy()
    grouped_value = df_local["total"].sum()
    dict_df[i] = {"Product line":pl, "Grouped Value":grouped_value}
    i+= 1

In [6]:
pd.DataFrame(dict_df).T

             Product line Grouped Value
0       Health and beauty     24748.815
1  Electronic accessories    25478.0925
2      Home and lifestyle     28487.025
3       Sports and travel    30078.1845
4      Food and beverages    28327.9185
5     Fashion accessories     27877.815

## Questions - Answers

In [7]:
# Pré-processamento
df["quantity"] = df["quantity"].astype(float)
# Seleção de colunas
quantitative_columns = df.select_dtypes(include=['float']).columns
other_columns = [column for column in df.columns if column not in quantitative_columns]
# Máximo de perguntas para cada padrão
max_iter = 20

### Standard 0

Frequência de elementos.

In [8]:
# Armazenamento
questions_0 = []
answers_0 = []
# String padrão
std_string_0 = "Which value of QLT_COLUMN_1 column is the FREQUENCY frequent?" # and what is its median of QTD_COLUMN_1 column?"
# Número de valores
n_values = 1
# Geração das perguntas e respostas
for i in range(max_iter):
    # VALORES ESCOLHIDOS
    qtd_column = random.sample(list(quantitative_columns), n_values)[0]
    qlt_column = random.sample(list(other_columns), n_values)[0]
    frequency = random.sample(["most", "less"], n_values)[0]
    # PERGUNTAS
    local_string = std_string_0
    local_string = local_string.replace("QLT_COLUMN_1", qlt_column)
    local_string = local_string.replace("FREQUENCY", frequency)
    local_string = local_string.replace("QTD_COLUMN_1", qtd_column)
    questions_0.append(local_string)
    # RESPOSTAS
    df_freq = pd.DataFrame(df[qlt_column].value_counts()).reset_index()
    if (df_freq.iloc[0][-1] == df_freq.iloc[-1][-1]):
        res = "Não existe diferença entre as frequências, todos os valores são únicos."
    else:
        if (frequency=="most"):
            col_value = df_freq.iloc[0][0]
        else:
            col_value = df_freq.iloc[-1][0]
        # res = df.loc[(df[qlt_column] == col_value)][qtd_column].median()
        res = col_value
    answers_0.append(res)

In [9]:
questions_0

['Which value of customer type column is the most frequent?',
 'Which value of time column is the less frequent?',
 'Which value of payment column is the less frequent?',
 'Which value of date column is the less frequent?',
 'Which value of product line column is the less frequent?',
 'Which value of invoice id column is the less frequent?',
 'Which value of time column is the most frequent?',
 'Which value of payment column is the less frequent?',
 'Which value of city column is the less frequent?',
 'Which value of invoice id column is the less frequent?',
 'Which value of payment column is the less frequent?',
 'Which value of branch column is the less frequent?',
 'Which value of time column is the less frequent?',
 'Which value of payment column is the less frequent?',
 'Which value of gender column is the most frequent?',
 'Which value of payment column is the less frequent?',
 'Which value of branch column is the less frequent?',
 'Which value of product line column is the most frequent?',
 'Which value of date column is the less frequent?',
 'Which value of branch column is the less frequent?']

### Standard 1

Soma de coluna quantitativa após aplicação de 1 filtro nos dados.

In [10]:
# Armazenamento
questions_1 = []
answers_1 = []
# String padrão
std_string_1 = "Looking for the occurrences of the data where OTHER_COLUMN is VALUE, what is the sum of QUANTITATIVE?"
# Número de valores
n_values = 1
# Geração das perguntas e respostas
for i in range(max_iter):
    # VALORES ESCOLHIDOS
    qtd_column = random.sample(list(quantitative_columns), n_values)[0]
    qlt_column = random.sample(list(other_columns), n_values)[0]
    col_value = random.sample(list(df[qlt_column].unique()), n_values)[0]
    # PERGUNTAS
    local_string = std_string_1
    local_string = local_string.replace("QUANTITATIVE", qtd_column)
    local_string = local_string.replace("OTHER_COLUMN", qlt_column)
    local_string = local_string.replace("VALUE", str(col_value))
    questions_1.append(local_string)
    # RESPOSTAS
    res = df.loc[(df[qlt_column] == col_value)][qtd_column].sum()
    answers_1.append(res)

In [11]:
questions_1

['Looking for the occurrences of the data where time is 20:51, what is the sum of gross margin percentage?',
 'Looking for the occurrences of the data where branch is A, what is the sum of total?',
 'Looking for the occurrences of the data where time is 19:17, what is the sum of gross income?',
 'Looking for the occurrences of the data where city is Naypyitaw, what is the sum of total?',
 'Looking for the occurrences of the data where product line is Food and beverages, what is the sum of unit price?',
 'Looking for the occurrences of the data where payment is Ewallet, what is the sum of rating?',
 'Looking for the occurrences of the data where invoice id is 225-32-0908, what is the sum of cogs?',
 'Looking for the occurrences of the data where customer type is Member, what is the sum of gross margin percentage?',
 'Looking for the occurrences of the data where time is 19:07, what is the sum of gross margin percentage?',
 'Looking for the occurrences of the data where date is 2/7/2019, what is the sum of gross income?',
 'Looking for the occurrences of the data where product line is Sports and travel, what is the sum of gross income?',
 'Looking for the occurrences of the data where payment is Ewallet, what is the sum of total?',
 'Looking for the occurrences of the data where invoice id is 566-71-1091, what is the sum of gross margin percentage?',
 'Looking for the occurrences of the data where payment is Ewallet, what is the sum of gross income?',
 'Looking for the occurrences of the data where invoice id is 477-24-6490, what is the sum of gross margin percentage?',
 'Looking for the occurrences of the data where product line is Fashion accessories, what is the sum of cogs?',
 'Looking for the occurrences of the data where invoice id is 162-48-8011, what is the sum of tax 5%?',
 'Looking for the occurrences of the data where city is Mandalay, what is the sum of gross margin percentage?',
 'Looking for the occurrences of the data where gender is Female, what is the sum of cogs?',
 'Looking for the occurrences of the data where date is 1/29/2019, what is the sum of cogs?']

In [23]:
answers_1

[np.float64(4.761904762),
 np.float64(53478.3585),
 np.float64(33.542),
 np.float64(58810.29000000001),
 np.float64(4669.75),
 np.float64(1116.8),
 np.float64(448.6),
 np.float64(1147.6190476420002),
 np.float64(9.523809524),
 np.float64(141.51500000000001),
 np.float64(1432.2944999999997),
 np.float64(53677.9845),
 np.float64(4.761904762),
 np.float64(2556.0944999999997),
 np.float64(4.761904762),
 np.float64(26550.3),
 np.float64(11.1475),
 np.float64(752.3809523959999),
 np.float64(80787.91),
 np.float64(1285.62)]

### Standard 2

Média de coluna quantitativa após aplicação de 2 filtros nos dados.

In [13]:
# Armazenamento
questions_2 = []
answers_2 = []
# Seleção de colunas
quantitative_columns = df.select_dtypes(include=['float']).columns
other_columns = [column for column in df.columns if column not in quantitative_columns]

# String padrão
std_string_1 = "Looking for the occurrences of the data where QLT_COLUMN_1 is VALUE_1 and where QLT_COLUMN_2 is VALUE_2, what is the mean of QUANTITATIVE?"
# Número de valores
n_values = 1
# Geração das perguntas e respostas
for i in range(max_iter):
    # VALORES ESCOLHIDOS
    qtd_column = random.sample(list(quantitative_columns), n_values)[0]
    qlt_column_1 = random.sample(list(other_columns), n_values)[0]
    qlt_column_2 = random.sample([x for x in list(other_columns) if x != qlt_column_1], n_values)[0]
    col_value_1 = random.sample(list(df[qlt_column_1].unique()), n_values)[0]
    col_value_2 =random.sample(list(df[qlt_column_2].unique()), n_values)[0]
    # PERGUNTAS
    local_string = std_string_1
    local_string = local_string.replace("QUANTITATIVE", qtd_column)
    local_string = local_string.replace("QLT_COLUMN_1", qlt_column_1)
    local_string = local_string.replace("QLT_COLUMN_2", qlt_column_2)
    local_string = local_string.replace("VALUE_1", str(col_value_1))
    local_string = local_string.replace("VALUE_2", str(col_value_2))
    questions_2.append(local_string)
    # RESPOSTAS
    res = df.loc[(df[qlt_column_1] == col_value_1) &(df[qlt_column_2]==col_value_2) ][qtd_column].mean()
    answers_2.append(res)

In [21]:
questions_2

['Looking for the occurrences of the data where branch is C and where time is 11:49, what is the mean of quantity?',
 'Looking for the occurrences of the data where time is 11:06 and where payment is Credit card, what is the mean of rating?',
 'Looking for the occurrences of the data where date is 1/22/2019 and where invoice id is 307-85-2293, what is the mean of rating?',
 'Looking for the occurrences of the data where date is 1/22/2019 and where branch is C, what is the mean of unit price?',
 'Looking for the occurrences of the data where branch is B and where time is 13:42, what is the mean of tax 5%?',
 'Looking for the occurrences of the data where branch is C and where product line is Fashion accessories, what is the mean of tax 5%?',
 'Looking for the occurrences of the data where date is 1/6/2019 and where customer type is Normal, what is the mean of cogs?',
 'Looking for the occurrences of the data where invoice id is 512-98-1403 and where city is Naypyitaw, what is the mean of cogs?',
 'Looking for the occurrences of the data where branch is C and where date is 3/10/2019, what is the mean of gross income?',
 'Looking for the occurrences of the data where time is 12:29 and where date is 3/5/2019, what is the mean of gross margin percentage?',
 'Looking for the occurrences of the data where date is 1/5/2019 and where payment is Cash, what is the mean of tax 5%?',
 'Looking for the occurrences of the data where city is Yangon and where product line is Fashion accessories, what is the mean of unit price?',
 'Looking for the occurrences of the data where payment is Ewallet and where time is 18:36, what is the mean of total?',
 'Looking for the occurrences of the data where product line is Home and lifestyle and where customer type is Member, what is the mean of unit price?',
 'Looking for the occurrences of the data where city is Mandalay and where branch is B, what is the mean of rating?',
 'Looking for the occurrences of the data where branch is A and where gender is Female, what is the mean of cogs?',
 'Looking for the occurrences of the data where date is 3/23/2019 and where product line is Sports and travel, what is the mean of rating?',
 'Looking for the occurrences of the data where time is 17:58 and where branch is A, what is the mean of quantity?',
 'Looking for the occurrences of the data where customer type is Member and where product line is Food and beverages, what is the mean of rating?',
 'Looking for the occurrences of the data where gender is Female and where invoice id is 817-69-8206, what is the mean of rating?']

In [22]:
answers_2

[nan,
 np.float64(4.8),
 nan,
 np.float64(50.945),
 nan,
 np.float64(16.387666666666668),
 np.float64(360.39000000000004),
 nan,
 np.float64(6.861),
 np.float64(4.761904762),
 np.float64(12.53),
 np.float64(62.45875),
 nan,
 np.float64(57.031904761904755),
 np.float64(6.8107594936708855),
 np.float64(319.16154929577465),
 np.float64(8.0),
 nan,
 np.float64(7.342499999999999),
 np.float64(6.5)]

### Standard 3

Comparação entre somas por categoria.

In [16]:
# Armazenamento
questions_3 = []
answers_3 = []
# String padrão
std_string_0 = "Which QLT_COLUMN_1 has the LEVEL total of QTD_COLUMN_1?"
# Número de valores
n_values = 1
# Geração das perguntas e respostas
for i in range(max_iter):
    # VALORES ESCOLHIDOS
    qtd_column = random.sample(list(quantitative_columns), n_values)[0]
    qlt_column = random.sample(list(other_columns), n_values)[0]
    level = random.sample(["highest", "lowest"], n_values)[0]
    # PERGUNTAS
    local_string = std_string_0
    local_string = local_string.replace("QLT_COLUMN_1", qlt_column)
    local_string = local_string.replace("LEVEL", level)
    local_string = local_string.replace("QTD_COLUMN_1", qtd_column)
    questions_3.append(local_string)
    # RESPOSTAS
    choosen_value = None
    choosen_sum = 0
    for value in df[qlt_column].unique():
        sum_value = df.loc[df[qlt_column]==value][qtd_column].sum()
        if (choosen_value == None):
            choosen_value = value
            choosen_sum = sum_value
        else:
            if (level=="lowest"):
                if (sum_value < choosen_sum):
                    choosen_sum = sum_value
                    choosen_value = value
            elif (level=="highest"):
                if (sum_value > choosen_sum):
                    choosen_sum = sum_value
                    choosen_value = value
    res = f"The {qlt_column} with the {level} {qtd_column} is {choosen_value} with {choosen_sum}"
    answers_3.append(res)

In [17]:
questions_3

['Which invoice id has the highest total of quantity?',
 'Which customer type has the lowest total of gross income?',
 'Which invoice id has the highest total of total?',
 'Which date has the lowest total of quantity?',
 'Which product line has the lowest total of unit price?',
 'Which invoice id has the lowest total of total?',
 'Which branch has the lowest total of unit price?',
 'Which product line has the lowest total of quantity?',
 'Which customer type has the lowest total of quantity?',
 'Which product line has the lowest total of cogs?',
 'Which branch has the lowest total of rating?',
 'Which customer type has the highest total of tax 5%?',
 'Which date has the highest total of gross income?',
 'Which gender has the lowest total of gross margin percentage?',
 'Which time has the lowest total of rating?',
 'Which time has the lowest total of gross income?',
 'Which payment has the lowest total of total?',
 'Which payment has the lowest total of cogs?',
 'Which date has the highest total of unit price?',
 'Which time has the lowest total of rating?']

In [18]:
# for value in df["customer type"].unique():
#     sum_value = df.loc[df["customer type"]==value]["gross income"].sum()
#     print(value, sum_value)

In [20]:
answers_3

['The invoice id with the highest quantity is 315-22-5665 with 10.0',
 'The customer type with the lowest gross income is Member with 3921.7829999999994',
 'The invoice id with the highest total is 860-79-0874 with 1042.65',
 'The date with the lowest quantity is 2/19/2019 with 4.0',
 'The product line with the lowest unit price is Health and beauty with 4157.75',
 'The invoice id with the lowest total is 279-62-1445 with 13.167',
 'The branch with the lowest unit price is B with 8813.28',
 'The product line with the lowest quantity is Health and beauty with 442.0',
 'The customer type with the lowest quantity is Member with 1410.0',
 'The product line with the lowest cogs is Health and beauty with 23570.300000000003',
 'The branch with the lowest rating is B with 1076.1',
 'The customer type with the highest tax 5% is Normal with 3935.2575',
 'The date with the highest gross income is 3/9/2019 with 237.7625',
 'The gender with the lowest gross margin percentage is Female with 1171.428571452',
 'The time with the lowest rating is 14:31 with 4.0',
 'The time with the lowest gross income is 14:11 with 0.639',
 'The payment with the lowest total is Credit card with 50110.704',
 'The payment with the lowest cogs is Credit card with 47724.479999999996',
 'The date with the highest unit price is 3/9/2019 with 716.5199999999999',
 'The time with the lowest rating is 14:31 with 4.0']

In [6]:
import json
x = '{"answer": "Os clientes que estão com contas atrasadas são:\n\n- Laura Duarte  \n- Lucas Barros  \n- Luana da Costa  \n- Evelyn Martins  \n- Ana Vitória Gomes  \n- Valentina Ramos  \n- Isis Cavalcanti  \n- Mariana Silveira  \n- Daniel Moreira  \n- Carlos Eduardo Porto  \n- Sra. Alice da Cunha  \n- Mariana Gonçalves  \n- Srta. Raquel Teixeira  \n- Dr. João Pedro Viana  "}'
x = x.replace("\n", "\\n")
x = json.loads(x)
x["answer"]

'Os clientes que estão com contas atrasadas são:\n\n- Laura Duarte  \n- Lucas Barros  \n- Luana da Costa  \n- Evelyn Martins  \n- Ana Vitória Gomes  \n- Valentina Ramos  \n- Isis Cavalcanti  \n- Mariana Silveira  \n- Daniel Moreira  \n- Carlos Eduardo Porto  \n- Sra. Alice da Cunha  \n- Mariana Gonçalves  \n- Srta. Raquel Teixeira  \n- Dr. João Pedro Viana  '

In [17]:
import pandas as pd

df = pd.read_excel("Docs/contas_receber.xlsx")
df2 = pd.read_excel("Docs/clientes.xlsx")
df2 = df2.rename(columns={"id":"cliente_id"})

In [18]:
df.head()

   id  cliente_id    valor  vencimento     status
0   1           1  3142.53  2025-03-09  Em aberto
1   2          90   535.29  2025-03-01  Em aberto
2   3           5  2295.41  2025-03-28  Em aberto
3   4           4   659.01  2025-03-28       Pago
4   5          57  2176.81  2025-04-09   Atrasado

In [19]:
df2.head()

   cliente_id                 nome
0           1         Laura Duarte
1           2  Maria Luiza Freitas
2           3  Luiz Gustavo Araújo
3           4    Maria Clara Pinto
4           5       Luana da Costa

In [20]:
for col in df.columns:
    print(col)

id
cliente_id
valor
vencimento
status

In [21]:
"client_id" in df.columns

False

In [22]:
df3 = pd.merge(df, df2, on="cliente_id", how="left")

In [23]:
df3.loc[df3["nome"]=="Arthur Campos"]

     id  cliente_id    valor  vencimento    status           nome
99  100           6  2123.63  2025-03-17  Atrasado  Arthur Campos

In [24]:
df3["status"].value_counts()

status
Atrasado     28
Em aberto    25
Pago         24
Negociado    23
Name: count, dtype: int64

In [25]:
df3["nome"].value_counts()

nome
Lucas Barros           3
Luana da Costa         3
Ana Vitória Gomes      3
Júlia Santos           3
Lucas Gabriel Rocha    3
                      ..
Fernando Nogueira      1
Mariana Pinto          1
Rafael Carvalho        1
Ana Laura Carvalho     1
Arthur Campos          1
Name: count, Length: 62, dtype: int64